*.orig
_*
*~
*.class
*.jar
.DS_Store
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/target/
/**/gc-anim
/**/gc-anim/**/imgs
figwheel_server.log
pom.xml
pom.xml.asc
